<div>
  <link href="./footer-gray.css" rel="stylesheet" />
  <footer class="footer-gray-footer">
    <div class="footer-gray-divider"></div>
    <div class="footer-gray-container">
      <div class="footer-gray-container1">
        <div class="footer-gray-container2">
          <span class="footer-gray-text">Snaype</span>
        </div>
      </div>
      <span class="footer-gray-text1 Small">
        All rights reserved. Copyright © 2023 Snaype
      </span>
      <span class="footer-gray-text2">
        <span class="Small">Images courtesy of</span>
        <a
          href="https://twitter.com/FillipTM"
          target="_blank"
          rel="noreferrer noopener"
        >
          FillipTM
        </a>
        <span class="Small">and</span>
        <a
          href="https://twitter.com/holosomnia"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-gray-link1 Small"
        >
          Holosomnia
        </a>
      </span>
    </div>
  </footer>
</div>
