<div>
  <link href="./header.css" rel="stylesheet" />
  <div data-role="Header" class="header-header">
    <nav class="header-nav">
      <div class="header-container">
        <a href="https://snaype.dev/" class="header-link">
          <span class="Large">Snaype</span>
          <br />
        </a>
        <div class="header-menu">
          <a href="https://snaype.dev/" class="header-link1 Large">Home</a>
          <a href="https://ss.snaype.dev/" class="header-link2 Large">
            Screenshots
          </a>
          <a href="https://snaype.dev/socials.html" class="header-link3 Large">
            Socials
          </a>
          <a href="https://snaype.dev/lobby.html" class="header-link4 Large">
            Lobby
          </a>
          <a href="https://google.snaype.dev/" class="header-link5 Large">
            Google
          </a>
        </div>
        <div class="header-container1">
          <div class="header-container2"></div>
          <div data-role="BurgerMenu" class="header-burger-menu">
            <svg viewBox="0 0 1024 1024" class="header-icon">
              <path
                d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
